@charset "UTF-8";

/*
Paleta de cores:
#1A2832
#E7B1C6
#33D1CB
#7C7AA2
#A04477
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #7C7AA2;
    width: 100vw;
    height: 100vh;
}
main {
    position: relative;
    width: 100vw;
    height: 100vh;
}
#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #E7B1C6;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}
#image {
    display: block;
    background: url("../image/cat-login.png");
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#form {
    display: block;
    padding: 10px;
    text-align: center;
}
#form > h1 {
    font-variant: small-caps;
    font-size: 2em;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 15px;
}
.datas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #7C7AA2;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}
.datas > span {
    color: white;
    font-size: 1.7em;
    padding: 5px;
    width: 40px;
}
.datas > input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 70%;
}
form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #33D1CB;
    color: white;
    border: 1px solid #239490;
    border-radius: 5px;
    font-weight: bold;
}
form > input[type=submit]:hover {
    font-size: 1.1em;
    background-color: #33D1CB;
    cursor: pointer;
    transition: .3s;
    transition-timing-function: ease;
}
form > a.button {
    display: flex;
    justify-content: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    color: #A04477;
    text-decoration: none;
}
form > a.button:hover {
    color: #d4599d;
}
form > a.button > span {
    margin-left: 5px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background: linear-gradient(to top, #33D1CB, #A04477);
    }
    #login {
        width: 90vw;
    }
    #image {
        float: left;
        width: 40%;
        height: 100%;
    }
    #form {
        margin: 50px 0px;
        float: right;
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background: linear-gradient(to top, #33D1CB, #A04477);
    }
    #login {
        width: 950px;
    }
    #image {
        float: left;
        width: 50%;
        height: 100%;
    }
    #form {
        margin: 50px 0px;
    }
}